$yellow: #f5df4d;
$yellow-darken: #e6c823;
$gray: #939597;
$gray-darken: #66686c;
$black: #000000;
$white: #ffffff;
$recommend: #3fa838;
$page-height: calc(100vh - 57px - 47px);

$heading: 24px;
$description: 14px;
$sub-heading: 18px;

.container {
  box-sizing: border-box !important;
  overflow-y: scroll;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
